.food-item {
    margin: 20px auto;
    padding-bottom: 10px;
    width: 250px;
    background-color:bisque;
    border-radius: 10px;
}

.item-image {
    width: 250px;
    height: 170px;
    border-radius: 10px 10px 0 0;
}

.add-btn {
    float: right;
    margin-top: 8px;
    margin-right: 10px;
}

.item-name {
    margin: 5px 0 10px 10px;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

.item-description {
    margin-left: 10px;
    line-height: 0.8;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.item-price {
    margin: 0 0 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.specific-item-count {
    background-color: rgb(255, 255, 255) ;
    padding: 1px 5px 6.5px 5px;
}

@media (hover: hover) and (pointer: fine) {
    .food-item:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }